.floating-buttons {
  display: flex;
  gap: var(--spacing-xs);

  jb-button {
    background: transparent;
    border: none;
    padding: var(--spacing-xs);
    border-radius: 50%;
    transition: all var(--transition-duration);
    color: var(--text);

    &:hover {
      background: var(--primary);
      opacity: 0.9;
    }
  }
}

.button-group {
  margin-bottom: var(--spacing-lg);
}
